.word
{
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(-70deg,#db469f,#2188ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-box-decoration-break: clone;
}
.home{
    /* background-image: url('../../assets/homepage.png') !important; */
}
.flex-container {
    display: grid;
    flex-wrap: wrap;
}
.addtask
{
    width:250px ;
}
.center
{
    text-align: center;
    font-size: larger;
}
.white
{
    background-color: whitesmoke !important;
}
img
{
    max-width: 100%;
    max-height: 200px;
}
.cardcenter
{
    max-height: 200px;
    min-height: 200px;
    background-repeat:space ;
}
.login
{
    margin-left: 28%;
    margin-right: 28%;
    max-width: 40%;
    text-align: center;
}
.card
{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}