<br />  <br /><br /><br /><br/><br /><br/>
<div class="card login">
    <div class="card-body">
        <div class="card-title"><h4 class="word"><b><em><i>Add Task</i></em></b></h4></div>
        <br /> <br />
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Title</span>
            <input type="text" class="form-control" aria-label="Username" placeholder="Heading" aria-describedby="basic-addon1" id="title"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Start Date</span>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="startdate"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">End Date</span>
            <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="enddate"/>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Time</span>
            <input type="time" class="form-control" aria-label="Username" aria-describedby="basic-addon1" id="time"/>
        </div>
        <button type="button" class="btn btn-primary" (click)="addTask()">Create</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</div>