<br />  <br /><br />  <br /><br />  <br />
<div class="card login">
    <div class="card-body">
        <div class="card-title"><h3 class="word"><b><em><i>Log In</i></em></b></h3></div>
        <br /> <br />
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                  </svg>
            </span>
            <input type="email" class="form-control" placeholder="xyz@abc.com" aria-label="Username" aria-describedby="addon-wrapping" id='email'/>
        </div>
        <br /> <br />
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                  </svg>
            </span>
            <input type="password" class="form-control" placeholder="Abc@123" aria-label="Username" aria-describedby="addon-wrapping" id='password'/>
        </div>
        <br />
        <button type="button"  class="btn btn-primary"  (click)="signHandler()">Log In</button>
        <br />  <br />
        <button type="button"  class="btn btn-success"  (click)="createAccount()">Create Account</button>
        <br />  <br />
    </div>
</div>